<var classNames=["app-checkbox", state.checked && "checked", state.checkboxClassName]
    foo="bar"/>
<app-button ref="button" class=classNames onClick('handleClick')>
    <span class="app-checkbox-icon"/>
    <span ref="checkboxLabel">
        <include(state.body)/>
    </span>
</app-button>
~~~~~~~
var classNames=["app-checkbox", state.checked && "checked", state.checkboxClassName],
    foo="bar";
app-button ref="button" class=classNames onClick('handleClick')
    span class="app-checkbox-icon"
    span ref="checkboxLabel"
        include(state.body)