{
    "all": true,
    "cache": true,
    "include": [
        "packages/*/src/**/*.js"
    ],
    "reporter": [
      "lcov",
      "text-summary"
    ],
    "require": [
      "@babel/register"
    ]
}