{
    "all": true,
    "cache": true,
    "include": [
        "packages/*/src/**/*.js"
    ],
    "exclude": [
      "**/dist/**",
      "**/node_modules/**",
      "**/test/**"
    ],
    "reporter": [
      "lcov",
      "text-summary"
    ]
}