<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Marko Templating Engine</title>
    </head>
    <body>
        <h1 class="super-duper-long__class-name--from-hell">Hello ${data.name}!</h1>
        <h2 class="super-duper-long__class-name--from-hell another-super-duper-long__class-name--from-hell"
            style="display: inline;">Hello ${data.name}!</h2>
    </body>
</html>

~~~~~~~
<!DOCTYPE html>
html lang="en"
    head
        title - Marko Templating Engine
    body
        h1 class="super-duper-long__class-name--from-hell" - Hello ${data.name}!
        h2 [
                class="super-duper-long__class-name--from-hell another-super-duper-long__class-name--from-hell"
                style="display: inline;"
            ] - Hello ${data.name}!
