<div marko-preserve-whitespace>
    This whitespace
        should be preserved.
    <span>
        This whitespace
            should
        also be
        preserved

    </span><pre> Test </pre>
</div>